{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div
			class="row">
			{# Hero Banner #}
			<div class="col-md-12">
				<div class="hero-banner">
					<img src="{{ asset('images/hero-banner.png') }}" alt="Hero Banner" class="img-responsive">
				</div>
			</div>
		</div>
		<div class="figures">
			{% for figure in figures %}
				<div class="figure">
					{# carte figure avec 6 elements par lignes #}
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="figure">
							<a href="{{ path('figure_show', { 'slug': figure.slug }) }}">
								{% if figure.image is defined %}
									<img src="{{ asset('images/' ~ figure.image) }}" alt="{{ figure.name }}" class="img-responsive">
								{% endif %}
								<h3>{{ figure.name }}</h3>
								{# date de création en text muted #}
								<p class="text-muted">{{ figure.createdAt|date('d/m/Y') }}</p>
								{# description #}
								<p>{{ figure.description }}</p>
							</div>
						</a>
                    </div>
                </div>
					{% endfor %}
				</div>
			{% endblock %}
